.cabeçalho{
    background-color:#11939c;
    color: rgb(12, 12, 51);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
} 

.cabeçalho-imagem{
    width: 40%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.escola{
    background-image:linear-gradient(#11939c, #15ff00);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 24px 0;
    
}

.escola-image{
    width: 50%;
        
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-imagem{
    width: 20%
}

.estudantes{
    background-color: #15ff00;

}

.estudante-icone{
    width: 7%;
}

.estudante-div{
    text-align: center;
}

.estudante-imagem-div{
    text-align: center;
}

.estudante-iconi{
    width: 7%;
}

.estudante-imagem-jm{
   width: 17%
}

.estudante-imagem-jv{
    width: 16%;
}


